@tailwind base;
@tailwind components;
@tailwind utilities;

.card-info-container {
  @apply mb-6 w-full rounded-xl bg-center p-8;
  height: 330px;
  background-image: url("https://i.ibb.co/dWKHTRv/01.jpg");
}

.card-info {
  @apply h-full w-full rounded-3xl bg-white bg-opacity-30 p-8;
  @apply border border-white text-white shadow-lg;
}

.form-grid {
  @apply grid gap-4;
  grid-template-columns: 1fr 150px;
}

.form-input {
  @apply rounded-lg border border-gray-400 px-4;
  @apply py-3;
}

.form-label {
  @apply mb-2 font-semibold tracking-wide;
}

.btn-cancel {
    @apply w-full rounded-lg border border-gray-400 bg-gray-50 py-3;
}

.btn-submit {
    @apply w-full rounded-lg border border-gray-400 bg-violet-600 py-3 text-white;
    @apply hover:-translate-y-1 hover:scale-105 transition-transform ease-in-out duration-200;
}
